<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%block content%}

        <form method="GET" action="{% url 'car_list' %}">
            <input type="text" name="search" placeholder="Buscar carros">
            <button type="submit">Buscar</button>
        </form>
        {%for car in cars%}
            <img src="{{ car.photo.url }}">
            <h3> {{car.model}} {{car.value}}</h3>
        {%endfor%}
    {%endblock%}


</body>
</html>