{% extends "base.html" %}
    {%block content%}

    <div class="div_conteiner">
        {% if cars %}
            {%for car in cars%}

                <a href="{% url 'car_detail' pk=car.pk%}">
                
                    <div class="card_conteiner">
                        {% if car.photo%}
                            <img src="{{ car.photo.url }}">
                        {% else %}
                            <p>Foto não disponivel</p>
                        {%endif%}
                        <h2>{{car.brand}} {{car.model}} </h2>
                        <h3>Ano: {{car.year}}</h3>
                        <h1>R$ {{car.value}}</h1>
                    </div>
                </a>
                
            {%endfor%}
        {%else%}
            <p calss="no-results">Nenhum valor encontrado</p>
        {%endif%}
    </div>

    {%endblock%}