*{
    padding: 0px;
    margin: 0px;
}

.head_conteiner{
    width: 100%;
    background-color: rgb(3, 133, 255);
}

.nav_conteiner{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.nav_conteiner input{
    width: 400px;
    padding: 15px;
    border: 0px solid ;
    border-radius: 3px 0px 0px 3px;

}

.nav_conteiner h1{
    color: white;
}

.nav_conteiner input:focus{
    outline: none;
}

.nav_conteiner ul{
    display: flex;
    gap: 20px;  
    list-style-type: None; 
}


.form_busca{
    width: 50%;
    display: flex;
    justify-content: center;
}

.form_busca button{
    padding: 15px;
    border: 0px, solid ;
    border-radius: 0px 3px 3px 0px;
    background-color: rgb(235, 15, 15);
    color: white;

}


a{
    text-decoration: none;
    color: inherit;
}