{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base/base.css' %}">
    <link rel="stylesheet" href="{% static 'cars/home_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/login.css' %}">
    
    <title>{% block title%} {%endblock%}</title>
</head>
<body>

    <head>
        <div class="head_conteiner">

            <nav class="nav_conteiner">
                <ul>
                    <li><h1><a href="{% url 'car_list' %}">Home</a></h1></li>

                    {% if user.is_authenticated%}
                        <li><h1><a href="{% url 'newcar' %}">Cadastrar Carro</a></h1></li>
                    {%endif%}   

                </ul>
 
                <form class="form_busca" method="GET" action="{% url 'car_list' %}">
                    <input type="text" name="search" placeholder="Buscar carros">
                    <button type="submit"><strong>Buscar</strong></button>
                </form>

                <ul>
                    {% if not user.is_authenticated %}
                        <li><h1><a href="{% url 'login' %}">Login</a></h1></li>
                    {%endif%}

                    {% if user.is_authenticated %}
                        <li><h1>Olá, {{user.username}}</h1></li>
                        <li><h1><a href="{% url 'logout' %}">Sair</a></h1> </li>
                    {%endif%}
                </ul>

            </nav>

        </div>
    </head>
     

    
<main>
    {%block content%}
    {%endblock%}
</main>


<footer>RODAPÉ</footer>
</body>
</html>